{% extends 'base.html' %}
{% load my_tags %}
<!doctype html>
<html lang="ru">

{% block content %}
<div class="container centered-container">
    <h1 class="header-title">КТО ЖЕ БУДЕТ?</h1>

    <!-- Карточки -->
    <div class="row justify-content-center">
        <!-- Карточка девочки -->
        <div class="col-lg-5 col-md-10 mb-4 me-lg-4">
            <div class="card girl-card clickable-card" id="girlCard"
                 onclick="window.location.href='{% url 'gender:update_page' object_list.1.pk %}'">
                <div class="card-header text-center">
                    <h3 class="my-0 fw-bold">{{ object_list.1.name|uppercase }}</h3>
                </div>
                <div class="card-body text-center">
                    <div class="img-wrapper">
                        <div class="img-container">
                            <img src="{{ object_list.1.photo|mymedia }}" alt="Фото девочки">
                        </div>
                    </div>
                    <h2 class="card-title pricing-card-title">
                        <span id="girlCardTotal">{{ object_list.1.total }}</span> руб.
                    </h2>
                </div>
            </div>
        </div>

        <!-- Карточка мальчика -->
        <div class="col-lg-5 col-md-10 mb-4 ms-lg-4">
            <div class="card boy-card clickable-card" id="boyCard"
                 onclick="window.location.href='{% url 'gender:update_page' object_list.0.pk %}'">
                <div class="card-header text-center">
                    <h3 class="my-0 fw-bold">{{ object_list.0.name|uppercase }}</h3>
                </div>
                <div class="card-body text-center">
                    <div class="img-wrapper">
                        <div class="img-container">
                            <img src="{{ object_list.0.photo|mymedia }}" alt="Фото мальчика">
                        </div>
                    </div>
                    <h2 class="card-title pricing-card-title">
                        <span id="boyCardTotal">{{ object_list.0.total }}</span> руб.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
